<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OWM_KEY</key>
	<string>58f54af229351da816525843c4988842</string>
	<key>ACLED_EMAIL</key>
	<string>t2glma00@students.oamk.fi</string>
	<key>ACLED_API_KEY</key>
	<string>6lkzj93Ra3lvdeBKiW7U</string>
</dict>
</plist>
